<label class="box-title">Partidas</label>
<!--label class="box-subtitle" ng-bind="'Rodada #' + vm.data.rodada"></label-->
<section ng-repeat="item in vm.data.partidas" class="card card-partida">
    <ul>
        <li class="time-partida mandante">
            <figure><img class="img-clube" src="{{vm.getClube(item.clube_casa_id).escudos['30x30']}}" /></figure>
            <label>
                <span ng-repeat="aproveitamento in item.aproveitamento_mandante track by $index" 
                    class="aproveitamento-time {{aproveitamento}}"></span>
            </label>
        </li>
        <li class="placar" ng-bind="item.placar_oficial_mandante"></li>
        <li class="vs">X</li>
        <li class="placar" ng-bind="item.placar_oficial_visitante"></li>
        <li class="time-partida visitante">
            <figure><img class="img-clube" src="{{vm.getClube(item.clube_visitante_id).escudos['30x30']}}" /></figure>
            <label>
                <span ng-repeat="aproveitamento in item.aproveitamento_visitante track by $index" 
                    class="aproveitamento-time {{aproveitamento}}"></span>
            </label>
        </li>
    </ul>
</section>