@charset 'UTF-8';

/// Colors map to system
/// @group   Color
$colors: (
	light           : #fff,
	base            : #f3f3f3,
  primary         : #1E90FF,
  primary-dark    : #1275E7, 
  danger          : #DC143C,
	success         : #00b136,
  success-light   : #1DC9A6,
  success-lightest: #14866F,
  success-dark    : #04842A,
  warning         : #FFC144,
  info            : #5bc0de,
	dark-lighter    : #EBEBEB,
  dark-lightest   : #dddddd,
	dark-light      : #777,
  dark            : #000,
  dark-20         : rgba(0,0,0,0.2)
) !default;

/// Fonts map to system
/// @group   Fonts
$font-sizes: (
  smaller   : 10px,
  smallest  : 11px,
  small     : 12px, 
  base      : 14px,
  medium    : 16px,
  large     : 18px,
  larger    : 20px,
  xlarge    : 22px,
  xxlarge   : 24px,
  xxlarger  : 26px,
  xxlargest : 28px,
  exlarge   : 50px
) !default;

$border-radius-default: 2px;
$border-default: 1px solid color(dark-lighter);

$space-small_perc: 0.5%;
$space-default_perc: 1%;

$space-small: 5px;
$space-default: 10px;

$box-shadow-default: 0px 2px 3px -1px rgba(0, 0, 0, 0.15);
$box-shadow-default-invert: 0px -2px 3px -1px rgba(0, 0, 0, 0.15);

$text-shadow-default: 1px 1px 2px rgba(0,0,0,0.9);

$header-height: 60px;

$information-phone: "only screen and (max-width : 767px)";