.atletas-filtro-coluna
{
    display: inline-block;
    margin-right: 40px;
    vertical-align: top;
}

@media #{$information-phone} {
    .atletas-filtro-coluna
    {
        margin-right: 3px;
    }
}