@charset 'UTF-8';

.aviso-mercado
{
    margin: $space-default 0;
    padding: $space-default;
    color: color(light);
    background-color: color(danger);
    border-radius: $border-radius-default;
    text-align: justify;
    position: relative;

    .aviso-icon
    {
        float: left;
        font-size: font-size(large);
        position: absolute;
        top: -($space-default / 1.5);
        left: -($space-default / 1.5);
        background-color: color(light);
        border: 4px solid color(danger);
        border-radius: 50%;
        padding: 6px;
        color: black;
    }
}