@charset 'UTF-8';

.box-view
{
    background-color: color(light);
    color: color(dark-light);
    border-radius: $border-radius-default;
    padding: ($space-default + 10px) ($space-default + 10px);
    //box-shadow: $box-shadow-default;
    //width: 520px;
    text-align: center;
    margin: 0 auto;
}

@media #{$information-phone} {
    .box-view
    {
        border-radius: 0px;
        padding: $space-default;
        text-align: left;
    }
}