.box-view-atletas-filtros-cabecalho
{
    button
    {
        padding: 0px;
        width: 100%;
        text-align: left;

        &:hover
        {
            color: color(primary);
            background-color: transparent;
        }

        i.fa
        {
            float: right;
        }
    }
}