.card-jogador-titulo
{
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: color(dark);
    display: table-row;

    li
    {
        display: table-cell;
        width: 10%;
        text-align: center;

        &.jogador-nome
        {
            width: 17%;
        }

        button
        {
            text-transform: uppercase;
        }
    }
}

@media #{$information-phone} {
  .card-jogador-titulo
  {
    li 
    {
      width: 0;

      &.sem-ordem 
      {
        display: none;
      }
      
      button
      {
        padding: 0;
      }
    }
  }
}