@charset 'UTF-8';

$space-card: 2%;

.card-jogador
{
    display: table-cell;
    vertical-align: middle;
    padding: 0 $space-card;
    width: $space-card;
    white-space: nowrap;

    &.card-jogador-escalacoes
    {
        width: 100% - ($space-card * 9);
        text-align: right;
        font-size: 20px;
        color: color(success);
    }
}