@charset 'UTF-8';

.card
{
    text-align: left;
    
    & + .card
    {
        padding-top: $space-default;
        border-top: $border-default;
    }

    label + &
    {
        margin-top: 10px;
    }
}