@charset 'UTF-8';

.card-partida
{
    & + section
    {
        margin-top: 10px;
    }
    
    .partida-jogo
    {
        display: flex;

        .time-partida
        {
            width: 41%;
            display: inline-block;
            text-align: center;
            padding-top: 10px;

            .img-clube
            {
                width: 40px;
            }

            &.mandante
            {
                //text-align: right;
                padding-right: 1%;

                figure 
                {
                    padding-right: 4px;
                }
            }        

            &.visitante
            {
                //text-align: left;
                padding-left: 1%;

                figure 
                {
                    padding-left: 4px;
                }
            }
        }

        .placar
        {
            text-align: center;
            width: 25%;
            font-size: font-size(exlarge);
            color: color(dark);
            display: inline-block;
        }

        .vs
        {
            width: 2%;
            display: inline-block;
            text-align: center;
            line-height: 34px;
            padding-top: 15px;
        }
    }

    .partida-data,
    .partida-local
    {
        display: block;
        text-align: center;
        font-size: font-size(small);
    }
}