.container-radio
{
    text-align: left;
    position: relative;
    //background-color: color(dark-lighter);
    //border-radius: 2px;
    //padding: 11px;

    li
    {
        position: relative;
    }
}

@media #{$information-phone} 
{
    .container-radio
    {
        li
        {
            font-size: font-size(small);
            padding-bottom: 8px;
        }
    }
}