@charset 'UTF-8';

.featureTitle
{
  float: left;
  padding-left: 10px;
  font-size: font-size(xxlarge);
  line-height: $header-height - 1;
  font-weight: normal;
  text-transform: uppercase;
  color: rgba(255,255,255,0.5);
}

@media #{$information-phone} {
  .featureTitle
  {
    float: none;
    padding-left: 0px;
    font-size: font-size(medium);
    line-height: 32px;
    padding-left: 5px;
    color: color(light);
    display: none;
  }
}