@charset 'UTF-8';

.menu-app
{
    position: fixed;
    top: $header-height - 1;
    left: 0;
    bottom: 0;
    background-color: color(success);
    color: color(light);
    z-index: 11;
    
    li
    {
        a
        {
            line-height: $header-height;
            display: block;
            padding: 0px 20px;
            color: color(light);
            width: 174px;

            &:link
            {
                text-decoration: none;
            }

            &:hover
            {
                background-color: color(success-dark);
            }

            &.active
            {
                background-color: color(success-dark);
            }
        }
    }
}

@media #{$information-phone} {
  .menu-app {
    display: none;
  }
}