@charset 'UTF-8';

.menu-app
{
    position: fixed;
    top: $header-height - 1;
    left: 0;
    bottom: 0;
    background-color: color(success);
    color: color(light);
    z-index: 11;
    
    //display: inline-block;

    li
    {
        //display: inline-block;
        
        a
        {
            line-height: $header-height;
            display: block;
            padding: 0px 20px;
            color: color(light);
            width: 174px;

            $shadow-hover-active-a: -5px 0px 0px color(light) inset;

            &:link
            {
                text-decoration: none;
            }

            &:hover
            {
                //box-shadow: $shadow-hover-active-a;
                background-color: color(success-dark);
            }

            &.active
            {
                //box-shadow: $shadow-hover-active-a;
                background-color: color(success-dark);
            }
        }
    }

    /*position: fixed;
    top: $header-height;
    bottom: 0px;
    left: 0px;
    width: $menu-width;
    background-color: color(dark-lighter);
    z-index: 10;

    a
    {
        padding: 10px;
        display: block;
        cursor: pointer;
        
        
        
    }*/
}