@charset 'UTF-8';

.menu-app-mobile
{
  position: fixed;
  top: $header-height;
  left: 0;
  bottom: 0;
  right: 0;
  @include background-gradient(color(success-light), color(success-lightest), color(success-light));
  color: color(light);
  z-index: 11;
  box-shadow: $box-shadow-default-invert;
    
  li
  {
    a
    {
      line-height: $header-height;
      display: block;
      padding: 0px 15px;
      color: color(light);
      width: 100%;
      font-size: font-size(medium);
      border-bottom: 1px solid rgba(255,255,255,0.2);

      &:link
      {
        text-decoration: none;
      }

      &:hover
      {
        background-color: color(dark-20);
      }

      &.active
      {
        background-color: color(dark-20);
      }
    }
  }
}