@charset 'UTF-8';

.menu-app-mobile
{
  position: fixed;
  //top: $header-height;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: color(success-light);
  //@include background-gradient(color(success-light), color(success-lightest), color(success-light));
  color: color(light);
  z-index: 11;
  //box-shadow: $box-shadow-default-invert;

  ul
  {
    display: inline-table;
    width: 100%;

    li
    {
      display: table-cell;
      text-align: center;
      width: 20%;

      a
      {
        height: 40px;
        display: block;
        padding: 4px 0px;
        color: color(light);
        width: 100%;
        font-size: font-size(medium);

        &:not(last-child) 
        {
          border-left: 1px solid rgba(255,255,255,0.2);
        }

        &:link
        {
          text-decoration: none;
        }

        &:hover
        {
          background-color: color(dark-20);
        }

        &.active
        {
          background-color: color(dark-20);
        }

        label.text-menu
        {
          font-size: 10px;
          display: block;
        }
      }

      &:last-child
      {
        a
        {
          background-color: color(warning);

          &:hover
          {
            background-color: color(warning);
          }

          &.active
          {
            background-color: color(warning);
          }
        }
      }
    }
  }
}