@charset 'UTF-8';

.status-mercado
{
    text-align: right;
    color: color(dark-light);
    margin-top: 4px;
    float: right;
    font-size: font-size(small);
    margin-right: 20px;

    .info-mercado {
        li {
            padding-bottom: 4px;
        }
    }

    .fechado
    {
        color: color(danger);
    }

    .aberto
    {
        color: color(success);
    }

    .rodada-atual
    {
        background-color: color(light);
        font-weight: bold;
        display: inline-block;
        border-radius: $border-radius-default;
    }
}