.status-jogador-duvida
{
    color: color(warning);
}

.status-jogador-suspenso
{
    color: color(danger);
}

.status-jogador-contundido
{
    color: color(danger);
}

.status-jogador-duvida
{
    color: color(warning);
}

.status-jogador-provavel
{
    color: color(success);
}