@charset 'UTF-8';

.status-mercado
{
    text-align: right;
    //color: color(dark-light);
    margin-top: 4px;
    float: right;
    font-size: font-size(small);
    margin-right: 10px;

    .info-mercado {
        li {
            padding-bottom: 4px;
        }
    }

    .fechado
    {
        color: color(light);
        //font-weight: bold;
        //text-shadow: $text-shadow-default;
    }

    .aberto
    {
        color: color(light);
        //font-weight: bold;
        //text-shadow: $text-shadow-default;
    }

    .fim-mercado
    {
        font-size: font-size(smaller);
        color: rgba(255,255,255,0.7);
    }

    .rodada-atual
    {
        display: inline-block;
        font-weight: normal;
        font-size: font-size(smaller);
        text-transform: uppercase;
        color: rgba(255,255,255,0.7);    
    }

    .refresh-feature
    {
        position: absolute;
        right: 2px;
        top: 10px;
        font-size: font-size(xlarge);
        //color: #fff;
        display: none;
    }
}

@media #{$information-phone} {
  .status-mercado
  {
    float: none;
    margin: 0;
    text-align: center;

    .info-mercado {
        li {
            padding-bottom: 0px;
        }
    }

    .fechado, 
    .aberto
    {
        font-size: font-size(base);
    }

    .refresh-feature
    {
        display: none;
    }
  }
}