@charset 'UTF-8';

.systemTitle
{
    float: left;
    width: $menu-width;
    font-size: font-size(xxlarge);
    line-height: $header-height;
    font-weight: bold;
    background-color: rgba(0,0,0,0.4);
    text-align: center;
}