@charset 'UTF-8';

.systemTitle
{
    float: left;
    padding-left: 20px;
    width: 174px;
    font-size: font-size(xxlarge);
    line-height: $header-height;
    font-weight: bold;
    color: color(light);
    //text-shadow: $text-shadow-default;
    background-color: color(warning);
}

@media #{$information-phone} {
  .systemTitle
    {
        float: none;
        padding-left: 0px;
        width: auto;
        font-size: font-size(base);
        line-height: normal;
        //color: color(success);
        background-color: transparent;
        padding-top: 12px;
        padding-left: 5px;
        display: none;
    }
}