@charset 'UTF-8';

.systemTitle
{
    float: left;
    padding-left: 20px;
    width: 172px;
    font-size: font-size(xxlarge);
    line-height: $header-height - 1;
    font-weight: bold;
    color: color(light);
    background-color: color(warning);
}