.time-opcao-todos-figure
{
    &:before
    {
        @include generated-content(30px, 33px);

        background-color: color(dark-lighter);
        border-radius: 50%;
        border: 1px solid color(dark-lightest);
    }
}