button
{
    background-color: transparent;
    border: none;
    font-weight: bold;
    cursor: pointer;
    padding: 6px 10px;
    border-radius: $border-radius-default;
    text-transform: uppercase;
    font-size: font-size(smaller);

    &:hover
    {
        color: color(primary);
    }

    &.primary
    {
        background-color: color(primary);
        color: color(light);
        border-bottom: 2px solid rgba(0,0,0,0.5);

        &:hover
        {
            background-color: color(primary-dark);
            color: color(light);
        }
    }
}