@charset 'UTF-8';

header
{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: $header-height;
    background-color: color(light);
    z-index: 10;

    .menu-icon {
        display: none;
    }
}

@media #{$information-phone} {
  header
  {
    background-color: color(success);
    color: color(light);

    .menu-icon {
      display: block;
      position: fixed;
      font-size: font-size(xlarge) - 1;
      top: 17px;
      left: 14px;
    }
  }
}