@charset 'UTF-8';

header
{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: $header-height;
    background-color: color(success-lightest);
    color: color(light);
    z-index: 10;

    .menu-icon {
        display: none;
    }
}

@media #{$information-phone} {
  header
  {
    height: 48px;

    .menu-icon
    {
      display: block;
      position: fixed;
      font-size: font-size(xlarge) - 1;
      top: 19px;
      left: 10px;
      //text-shadow: $text-shadow-default;
    }
  }
}