@charset 'UTF-8';

header
{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: $header-height;
    background-color: color(light);
    color: color(light);
    z-index: 10;
    border-bottom: 1px solid color(success);
}