input[type="radio"]
{
    $top: 0px;
    $left: 0px;

    position: absolute;
    top: $top + 1;
    left: $left + 1;

    margin: 0;

    & + label {
        $size: 14px;

        padding-left: $size + 5;
        line-height: $size + 2;
        font-size: font-size(xsmall);
        cursor: pointer;
        margin: 0;

        &:before {
            @include generated-content($size, $size);

            position: absolute;
            top: $top + 1;
            left: $left;

            background-color: color(light);
            border-radius: 50%;
            border: 1px solid color(dark-light);
        }

        &:after {
            @include generated-content($size - 4, $size - 4);

            position: absolute;
            top: $top + 4;
            left: $left + 3;

            display: none;

            //font-size: $size - 3;
            background-color: color(primary);
            border-radius: 50%;
        }
    }

    &:hover {
        & + label {
            &:before {
                border-color: color(dark-light);
            }
        }
    }

    &:checked {
        & + label {
            &:after {
                display: block;
            }
        }
    }
}