<section class="status-mercado" ng-show="vm.data.status_mercado">
    <dl>
        <dt class="fechado" ng-if="vm.data.status_mercado === 2">
            MERCADO FECHADO
        </dt>
        <dt class="aberto" ng-if="vm.data.status_mercado !== 2">
            MERCADO ABERTO
        </dt>
        <dt ng-if="vm.data.status_mercado !== 2">
            FECHARÁ EM <span ng-bind="vm.data.fechamento | dataHora"></span>
        </dt>
        <dd class="rodada-atual" ng-bind="'Rodada #' + vm.data.rodada_atual"></dd>
    </dl>
</section>
<section class="box-view box-view-danger aviso-mercado" ng-show="vm.data.aviso">
    <i class="aviso-icon fa fa-exclamation-triangle"></i>
    <label ng-bind="vm.data.aviso"></label>
</section>